.btn-primary  {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary :active, .btn-primary .active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-success  {
    box-shadow: 0 3px 0 0 #008c52;
}
.btn-success :active, .btn-success .active {
    background: #39bf87;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-info  {
    box-shadow: 0 3px 0 0 #35a2b5;
}
.btn-info :active, .btn-info .active {
    background: #5fd4e8;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-warning  {
    box-shadow: 0 3px 0 0 #b87430;
}
.btn-warning :active, .btn-warning .active {
    background: #eba259;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-danger  {
    box-shadow: 0 3px 0 0 #bf4343;
}
.btn-danger :active, .btn-danger .active {
    background: #f26d6d;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
